.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 0px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

/* Style for selected marks (circles) */
circle.selected {
  fill: pink;
  stroke: red;
  opacity: .5;
}